APP_ENV=local
APP_DEBUG=false
APP_URL=http://localhost:8888

DB_HOST=127.0.0.1
DB_PORT=8889
DB_NAME=plataforma_eventos
DB_USER=
DB_PASS=
DB_CHARSET=utf8mb4

MP_ACCESS_TOKEN=
MP_PUBLIC_KEY=
MP_ENVIRONMENT=test

MP_WEBHOOK_SECRET=